.resultRes {
	position: fixed;
	padding: 8px;
	z-index: 100;
	bottom: 20%;
	background: lighten($color: #ff0000, $amount: 30);
	max-width: 200px;
	height: 80px;
	border-radius: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
}
