.header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    height: 60px;
    border-bottom: 1px solid var(--primary);
    background: #fff;
}
.action {
    margin-right: 32px;
}
.action span:first-child {
    margin-right: 16px;
}