.contactCard {
	position: relative;
	padding: 16px;

	border-radius: 16px;
	background: #fff;

	&:hover {
		background: darken($color: #fff, $amount: 5%);
	}
}
.btn {
	position: absolute;
	top: 16px;
	right: 16px;
	margin: 0;
	padding: 0;
	background: transparent;
	border-radius: 50%;
	border: none;
	width: 24px;
	height: 24px;

	& svg:hover {
		& path {
			fill: #fff;
		}
		& path:first-child {
			fill: #f44336;
		}
	}
}
.name {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
	color: #19208c;
}
.phoneNumber {
	font-size: 18px;
	text-decoration: none;
	color: #19208c;
}
.edit {
	position: absolute;
	top: 16px + 24px;
	right: 16px;
	margin: 0;
	padding: 0;
	background: transparent;
	border-radius: 50%;
	border: none;
	width: 24px;
	height: 24px;
	& svg:hover {
		transform: scale(1.06);
	}
	&__close {
		position: absolute;
		top: auto;
		bottom: 16px;
		right: 16px;
		margin: 0;
		padding: 0;
		background: transparent;
		border-radius: 50%;
		border: none;
		width: 24px;
		height: 24px;
	}
}
