.contactBooks {
	padding: 16px;
}
.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
}

@media (max-width: 990px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
	}
}
@media (max-width: 680px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
}
@media (max-width: 480px) {
	.cards {
		grid-template-columns: 1fr;
	}
}
.createNewContact {
	grid-column: 1 / end;
	text-align: center;
	font-size: 18px;
}